<h3> Login Here </h3> 

<%= form_with model: @user do |f| %> 
    <%= form_with url: login_path do |f| %>
    
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Log in' %>
    
    <% end %>